<main class="login-page">
  <section class="login-shell">
    <header class="login-brand">
      <h1>GRIMOIRE</h1>
      <p>OF STARS</p>
    </header>

    <div class="auth-card">
      <div class="auth-tabs">
        <button
          type="button"
          [class.active]="mode === 'login'"
          (click)="setMode('login')"
        >
          ENTRAR
        </button>

        <button
          type="button"
          [class.active]="mode === 'register'"
          (click)="setMode('register')"
        >
          CADASTRAR-SE
        </button>
      </div>

      <form class="auth-form">
        @if (mode === 'register') {
          <input type="text" placeholder="Nome de usuário">
        }

        <input type="text" placeholder="E-mail ou Usuário">

        <input type="password" placeholder="Senha">

        @if (mode === 'register') {
          <input type="password" placeholder="Confirmar senha">
        }

        @if (mode === 'login') {
          <a href="#" class="forgot-link">Esqueceu a senha?</a>
        }

        <button type="submit" class="main-button">
          {{ mode === 'login' ? 'INICIAR AVENTURA' : 'CRIAR CONTA' }}
        </button>

        <div class="divider">
          <span>OU</span>
        </div>

        <button type="button" class="social-button">
          ◉ {{ mode === 'login' ? 'ENTRAR' : 'CADASTRAR' }} COM GOOGLE
        </button>

      
      </form>
    </div>
  </section>
</main>